.done{
  text-decoration: line-through;
  opacity: 0.5;
}

#todos{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#todos li{
  padding: 20px 0px 10px 20px;
  border-bottom: 1px solid silver;
}

.deleteItem{
  float: right;
  color: red;
  cursor: pointer;
}

input[type=checkbox] {
  margin-right: 20px;

}

.editText{
  display: none;
}

.saveItem{
  display: none;
}
